<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <title>board</title>
</head>
<body>
<form id="form" class="frm" action=""method="post">
<input name="title" type="text" th:text="${Board.writer}" placeholder="  제목을 입력해주세요."/>
작성자 : <div class="postWriter" th:text="${Board.writer}"></div>
조회수 : <div class="viewCount" th:text="${Board.viewCnt}"></div>
<textarea name="content" rows="20" th:text="${Board.content}" placeholder=" 내용을 입력해주세요." ></textarea>
<br>

<button type="button" id="listBtn">목록</button>
<button type="button" id="modifyBtn">수정</button>
<button type="button" id="deleteBtn">삭제</button>

</form>

<hr>

<script>
  // 삭제
  $("#deleteBtn").on("click", function(){
    if(!confirm("삭제하시겠습니까?")) return;
    let form = $("#form");
    form.attr("action", "/board/delete");
    form.attr("method", "post");
    form.submit();
  });
  // // 목록
  // $("#listBtn").on("click", function(){
  //   location.href="<c:url value='/board'/>";
  // });
</script>
</body>
</html>